/*------------------------------------*\
    $COMPASS IMPORTS
\*------------------------------------*/
@import "compass";
@import "compass/css3";
@import "compass/support"; 

/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/
@import "vendor/normalize";

@import "global/variables";
@import "global/icons";
@import "global/layout";
@import "global/header";

.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}