<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="SSINC-shtml" />
            <add name="SSINC-shtml" path="*.html" verb="GET,POST" modules="ServerSideIncludeModule" resourceType="File" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
