$header-height:55px;

header{
	background-color:white;
	height: $header-height;
	position:relative;
	border-bottom:1px solid $black;

	ul{
		list-style: none;
		margin: 0;
	}

	nav{
		//display:none;
		max-height:0;
		overflow:hidden;
		position:absolute;
		background-color:$pink;
		top:$header-height+1;
		width:100%;
		@include transition-property(max-height);
  		@include transition-duration(.7s);
  		//@include transition-timing-function(ease-in);

		ul{
			padding:0;
				a{
					display:block;
					padding:1em;
					border-bottom:1px solid black;
					text-decoration:none;
					color:$white;
					font-weight:bold;
				}
		}

		@media all and (min-width: $phablet){
			max-height:none;
			position:static;
			padding-left:5%;
			width:60%;
			background-color:transparent;
			float:left;
			ul{
				margin-left:-1em;
				a{
					float:left;
					border:none;
					color:$black;
					padding-top:1.2em;
				}
			}
		}
	}
		@media all and (min-width: $phablet){
			border-top:10px solid $black;
		}
}

#burger-nav{
	position:absolute;
	right:.3em;
	top: .3em;
	text-decoration:none;
	color:$black;
	display:block;
	font-size:2em;
	padding:.1em .05em .1em .2em;
	text-align:center;

	@media all and (min-width: $phablet){
		display:none;
	}
}

.burger-nav-active{
	#burger-nav{
		background-color:$black;
		color:$white;
	}

	nav{
		display:block;
		max-height:250px;
	}
}

.social-links{
	padding:0.2em 0 0 0;
	li{
		float:left;
		a{
			text-decoration:none;
			font-size:1.8em;
			color:$black;
			//border:1px solid $black;
			//background-color:#eee;
			display:block;
			width:1.5em;
			text-align:center;
			padding: .2em 0;
			margin: 0.2em 0.1em;
		}
	}
	@media all and (min-width: $phablet){
		float:right;
	}
}

#logo-header{
	background-color:$yellow;
	padding-bottom:40px;
	overflow:hidden;
	img{
		width:250px;
		margin:1em auto 0 auto;
		display:block;
		@include transition();
	}
	p{
		text-align:center;
		padding:20px 0 15px 0;
		margin:0;
		text-transform:uppercase;
	}
	/*@media all and (min-width: $phablet){
		img{
			width:40%;
			margin:1em 30% 0 30%;
		}
	}
		@media all and (min-width: $desklet){
		img{
			width:30%;
			margin:1em 35% 0 35%;
		}
	}
		@media all and (min-width: $superdesk){
			img{
				width:20%;
				margin:1em 40% 0 40%; 
			}
		}*/
}