a{
	color:$pink;
}
main{
	padding:0 5% 0 5%;
	margin: -35px 0 0 0;
	section > h1{
		background-color:$black;
		padding:15px;
		color:$white;
		margin:0;
	}

	article{
		background-color:$black;
		color:$white;
		padding:15px;
		margin:0 0 20px 0;
		overflow:hidden;
		h1{
			margin-top:0;
		}
		h2{
			margin:0 0 10px 0;
			a{
				text-decoration:none;
				&:hover{
					text-decoration:underline;
				}
			}
		}
		h3{
			margin:0;
		}
		time{
			margin:5px 0 10px 0;
			display:block;
		}
		img{
			width:100%;
		}
		.button{
			background-color:$yellow;
			color:$black;
			text-decoration:none;
			padding:5px;
			float:right;
			font-weight:bold;
			padding:8px;
				&:hover{
				background-color:$blue;
				}
		}
	}
}
	aside{
		background-color:$lightgrey;
		padding:5px 5% 20px 5%;
		h3{
			margin:15px 0 15px 0;
		}
		h4{
			margin:0;
		}
		p{
			margin:5px 0 0 0;
		}
		a{
			text-decoration:none;
			&:hover{
				text-decoration:underline;
				color:$black;
				}

		}
	}
#archive{
	main{
		article{
			h2{
				font-size:1.25em;
			}
			margin:0;
			border-bottom:1px solid $lightgrey;
			time{
				font-size:.9em;
			}
			&:last-child{
				border-bottom:none;
				margin-bottom:50px;
			}
		}
	}
}

#disqus_thread{
	background-color:$white;
	padding:10px;
	margin-bottom:20px;
}

/*.addthis_toolbox{
	background-color:$black;
	padding: 10px;
}*/