a{
	color:$pink;
}
main{
	padding:0 5% 0 5%;
	margin: -35px 0 0 0;
	overflow:hidden;
	section > h1{
		background-color:$black;
		padding:15px;
		color:$white;
		margin:0;
	}

	article{
		background-color:$black;
		color:$white;
		padding:15px;
		margin:0 0 20px 0;
		overflow:hidden;
		h1{
			margin-top:0;
		}
		h2{
			margin:0 0 10px 0;
			a{
				text-decoration:none;
				&:hover{
					text-decoration:underline;
				}
			}
		}
		h3{
			margin:0;
		}
		time{
			margin:5px 0 10px 0;
			display:block;
		}
		img{
			width:100%;
		}
		.button{
			background-color:$yellow;
			color:$black;
			text-decoration:none;
			padding:5px;
			float:right;
			font-weight:bold;
			padding:8px;
				&:hover{
				background-color:$blue;
				}
		}
		@media all and (min-width: $phablet){
			&.post{
				width:49%;
				float:left;
				@include box-sizing(border-box);
				margin:0 2% 20px 0;

				&:nth-child(odd){
					margin-right:0;
				}
			}
		}
	}
		@media all and (min-width: $desklet){
		float:left;
		width:70%;
		padding-right:2%;
		@include box-sizing(border-box);
	}
}
	aside{
		background-color:$lightgrey;
		padding:5px 5% 20px 5%;
		h3{
			margin:15px 0 15px 0;
		}
		h4{
			margin:0;
		}
		p{
			margin:5px 0 0 0;
		}
		a{
			text-decoration:none;
			&:hover{
				text-decoration:underline;
				color:$black;
				}
		}
		@media all and (min-width:$desklet){
			float:right;
			width:30%;
			margin:-35px 0 0 0;
			padding:0 5% 0 0;
			background-color:transparent;
			color:$white;
			@include box-sizing(border-box);

			article{
				background-color:$black;
				padding:5px 5% 20px 5%;
				margin-bottom:20px;
			}
		}
	}
#archive{
	main{
		article{
			h2{
				font-size:1.25em;
			}
			margin:0;
			border-bottom:1px solid $lightgrey;
			time{
				font-size:.9em;
			}
			&:last-child{
				border-bottom:none;
				margin-bottom:50px;
			}
		}
	}
}

#disqus_thread{
	background-color:$white;
	padding:10px;
	margin-bottom:20px;
}

#twitter-feed{
	background-color:transparent;
	padding-left:0;
	padding-right:0;
	display:none;
	@media all and (min-width:$desklet){
		display:block;
	}
}

/*.addthis_toolbox{
	background-color:$black;
	padding: 10px;
}*/